.famfamfam-flags {
    display: inline-block;
}
      
.language-switch-area {
    text-align: center;
    padding: 10px;
}

.logo-span {
    font-size: 2rem;
    font-family: -webkit-pictograph;
    /*color: #000000;*/
}