
<li>
    <form class="form-inline my-2 my-lg-0 no-waves-effect">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary btn-gradient waves-effect waves-light" type="button">
                    <i class="batch-icon batch-icon-search"></i>
                </button>
            </div>
        </div>
    </form>
</li>