@using AbpDemoOne.Web.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        @Html.Raw(Model.Title)
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span></span>
    </h4>*@
</div>
